<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	
	<insert id="reg" parameterType="bvo">
		insert into board(title, writer, content, imageFile) 
		values(#{title},#{writer},#{content}, #{imageFile}) 	
	</insert>	

	<select id="All" resultType="bvo">
		select * from board 
		<include refid="search"/>
		order by bno desc limit #{pageStart}, #{qty}
	</select>
	
	<select id="detail" resultType="bvo">
		select * from board where bno=#{bno}
	</select>

	<update id="read" parameterType="bvo">
		update board set readcount = readcount + 1 where bno=#{bno}
	</update>
	
	<update id="modify" parameterType="bvo">
		update board set title=#{title}, content=#{content}, imageFile=#{imageFile}, moddate=now() where bno=#{bno}
	</update>
	
	<delete id="del" parameterType="int">
		delete from board where bno = #{bno} 
	</delete>
	
	<select id="myboard" resultType="bvo">
		select * from board where writer = #{id}
	</select>
	
	<select id="tot" resultType="int">
		select count(bno) from board <include refid="search"/>
	</select>

	<sql id="search">
		<if test="type != null">
			<trim prefix="where (" suffix=")" prefixOverrides="or">
				<foreach collection="typeToArray" item="type">
					<trim prefix="or">
						<choose>
							<when test="type == 't'.toString()">
								title like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'w'.toString()">
								writer like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'c'.toString()">
								content like concat('%',#{keyword},'%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>

</mapper>